* {
    font-family: "Andale Mono", serif;
    background-color: #EEEEEE;
}

.heading {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    margin: 40px 0;

}

.contents {
    display: flex;
    justify-content: center;
    /*border: pink 2px solid;*/
}

.optionsPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 600px;
    /*margin-right: 50px;*/
    /*border: red 2px solid;*/
}

.colourHex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 600px;
    height: 600px;
    border: #d3d3d3 1px solid;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
    margin-left: 30px;
}

.box {
    position: relative;
    box-sizing: border-box;
    background-color: white;
}

/*Scaling for box grid dimensions (HTML radio and updateGrid required)*/
.eight {
    flex: 1 0 12.5%;
}

.sixteen {
    flex: 1 0 6.25%;
}

.thirty_two {
    flex: 1 0 3.125%;
}

.sixty_four {
    flex: 1 0 1.5625%;
}

/*RADIO BUTTONS*/
.gridSizeRadios {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}

.optionsRadios {
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border-radius: 0.5rem;*/
    background-color: #EEE;
    box-sizing: border-box;
    /*box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);*/
    padding: 0.25rem;
    width: 280px;
    font-size: 14px;
}

.gridSizeRadios .radio {
    flex: 1 1 auto;
    text-align: center;
    padding: 10px 0;
}

.gridSizeRadios .optionsRadios .radio input {
    display: none;
}

.gridSizeRadios .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

.gridSizeRadios .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
}

/*BUTTONS*/
.optionsButtons {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
}

button {
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    background-color: #EEEEEE;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
}

button:hover {
    background-color: #ffffff;
}

/*button:focus,*/
button:active {
    background-color: rgba(255, 255, 255, 0.71);
    transition: ease-out;
}

#mode-colour {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
    height: 100px;
    width: 100px;
    margin: 10px 0;
}
